.content {
    text-align: center;
    padding-bottom: 0%;
    margin: 50px;
}

.content input {
    height: 100px;
    width: 450px;
}

main button {
    justify-content: center;
    margin-top: 5%;
    padding: 5%;
    height: 150px;
    width: 450px;
}

table {
    width: 80%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;  
}

table, th, td {
    border: 1px solid;
}