* {box-sizing: border-box;
  background-color: #e7efff;

}

.navbar {
  overflow: hidden;
  
}

.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar .logout {
  float: right;
}

.navbar input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width: 150px; /* adjust as needed (as long as it doesn't break the navbar) */
}

.navbar button {
  float: right;
  padding: 6px;
  margin-right: 16px;
  background: #ddd;
  width: 10%;
  height: 35px;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.navbar .logout button:hover {
  background: #ccc;
}

.idiom {
    text-align: center;
    padding-bottom: 0%;
    margin: 50px;
}

.idiomDetail {
    border-style: dashed;
    border-radius: 4px;
    padding: 3rem;
    font-size: 3vh;

    
}

.randomIdiom{
  text-align: center;
}

#randomButton{
  padding: 1rem;
  margin-bottom: 1rem;
}

.idiomButtons {
    padding:3%;
}

.idiomButtons button{
    font-size: 2vh;
    width: 200px;
    height: 50px;
    margin-left: 5vw;
    margin-right: 5vw;
}

#Idiom {
  font-weight: bolder;
  font-size: larger;
  color: #72195A;
  text-decoration: underline;
  
}

#Description {
  /* text-decoration: underline; */
  padding-bottom: 3rem;
}

#Origin {
  font-style: italic;
}


#title {
  font-size: x-large;
}

#date{
  font-size: xx-large;
}

.homeFooter{
  padding-top: 3rem;
}
